body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0;
  border: 0;
  text-align: center;
  background-color: rgb(203, 247, 231);
  background-image: url(./images/background.jpg);
  font-family: "Lato", sans-serif;
}

.logo {
  margin-top: 50px;
  max-width: 250px;
  height: auto;
  align-self: center;
}

.btnContainer {
  display: flex;
  align-self: stretch;
  justify-content: center;
  background-color: white;
  border-radius: 2px;
  padding: 10px 0px 10px 0px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.49);
}

#content {
  padding: 0px 100px 100px 100px;
}

.homeContainer,
.menuContainer,
.contactContainer {
  display: flex;
  padding: 10px;
  border: solid 2px rgb(92, 199, 163);
  border-radius: 5px;
  background-color: white;
}

.menuImage {
  flex: 1 1 0;
  min-width: 0;
}

button {
  background: none;
  border: none;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-style: italic;
}

button:hover {
  cursor: pointer;
}

.homeBtn,
.menuBtn {
  border-right: solid 1px rgb(171, 173, 173);
}

p {
  font-size: 25px;
}
